h2
{
	color: black;
}
figure
{
	text-align: center;
}
.cadre	
{
	border: 3px solid #ada29f;
	box-shadow: 6px 6px 0px black;
	border-radius: 15px;

}
.liseré
{
	width: 100px;
	background-color: #ada29f;
	padding-bottom: 300px;
	padding-left: 20px;
	position: absolute;
	top: 125px;
	border-radius: 8px;



}
#conteneur
{
	display: flex;
	margin-left: 150px;
	margin-right: 50px;
	left: 165px;
	justify-content: space-between;
	width: 80%;
	flex-wrap: wrap;
}
h2
{
	color: #c8a216
}
@media all and (max-width: 1024px)
{
	.liseré
	{
		display: none;
	}
}