/*couleur des lien en noir*/
a
{
    color: black;
    text-decoration: none;
}
/*couleur des lien en noir*/
/*police d'écriture*/
@font-face {font-family: "police_site";src: url('police/Raleway-VariableFont_wght.ttf');}
body {font-style: normal;font-weight: bold;font-family: "police_site", Helvetica, Arial, sans-serif;font-size:18px;}
/*police d'écriture*/
/*hébergement activités s'inscrire plus logo reservia*/

.nav
{
    display: grid;
    align-items: center;

}
.titreheader
{
  margin-bottom: 0.5rem;
}
.sloganheader
{
  margin-top: 0;
}
.logoreservia
{
    padding: 0 2rem;
    height: 2.813rem;
}
.nav1 
{
    display: flex;
    align-items: center;
    grid-area: navbar;
}
.liennav 
{
    padding: 2rem;
    font-weight: 500;
    text-align: center;
    transition-duration: 0.1s;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
}
.liennav[data-active=true]
{
    color: #0065FC;
}
.liennav:hover
{
    color: #0065FC;
}
.sinscrire 
{
    display: flex;
    align-items: center;
    grid-area: button;
    padding: 2rem;
    color: #0065FC;
    font-weight: 600;
}
  
@media screen and (min-width: 601px) 
{
.nav 
  {
      grid-template-columns: auto 1fr auto auto;
      grid-template-areas: "logo . navbar button";
  }
  .liennav[data-active=true] 
  {
      border-top: 3px solid #0065FC;
  }
  .liennav:hover 
  {
      border-top: 3px solid #0065FC;
  }
}
@media screen and (max-width: 600px) 
{
  .nav 
  {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "logo . button" "navbar navbar navbar";
  }
  .logoreservia 
  {
      order: 0;
  }
  .sinscrire
  {
      order: 1;
  }
  .nav 
  {
      order: 2;
  }
  .liennav 
  {
      border-top: none;
      border-bottom: 3px solid #F2F2F2;
      width: 50%;
  }
  .liennav[data-active=true] 
  {
      border-bottom-color: #0065FC;
  }
  .liennav:hover
  {
      border-bottom-color: #0065FC;
  }
/*hébergement activités s'inscrire plus logo reservia*/    
}
#filtreblocs
{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}
.bloc
{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #D9D9D9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
}
.icons
{
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    
}
.titrefiltres
{
    margin: 2rem 2rem 1rem 0;
    display: flex;
    align-items: center;
}
.clickfiltres
{
    margin: 0 1rem;
}
.couleuricons
{
    color: #0065FC;
}
.info
{
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}
.infoicon
{
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #D9D9D9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
.infoicons
{
  color: #0065FC;
}
.infotext
{
  margin: 0;
}
.recherche
{
  display: inline-flex;
  max-width: 100%;
  overflow: auto;
}
.recherchespan 
{
  background-color: #F2F2F2;
  padding: 1rem 1.25rem;
  border-radius: 1rem 0 0 1rem;
  text-align: center;
}
.rechercheinput 
{
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 1.5rem;
  box-sizing: border-box;
  width: 14rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
}
.rechercheinput::placeholder
{
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  color: #00000069;
}
.bouton
{
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.5rem;
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  cursor: pointer;
}



.footer 
{
  background-color: #F2F2F2;
  width: 100%;
}


.footerColumnwrapper 
{
  display: flex;
  max-width: 100%;
  width: 1440px;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

.footerColumnwrapperColumn 
{
  width: 30%;
  padding: 2rem 2rem;
}


.footerColumnwrapperColumnLink 
{
  display: block;
  margin: 1rem 0;
}



@media (max-width: 750px) {
  .footerColumnwrapper {
    flex-direction: column;
    padding: 2rem;
  }
  .footerColumnwrapperColumn {
    width: 100%;
    padding: 0;
    margin: 1rem 0;
  }
  .footerColumnwrapperColumn:first-child {
    margin-top: 0;
  }
  .footerColumnwrapperColumn:last-child {
    margin-bottom: 0;
  }
  .footerColumnwrapperColumnTitle {
    margin: 0;
  }
  .footerColumnwrapperColumnLink:last-child {
    margin-bottom: 0;
  }
}
.main
{
  max-width: 1440px;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box;
}
/*----------------------------------------------------------------------------------*/
/*  bloc gris  */
@media screen and (min-width: 1440px)
{
  .hostingWrapper, .hostingPopular, .hostingMain 
  {
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2rem;
  }
}

/*----------------------------------------------------------------------------------*/
/*  alignement bloc gris  */
.heberg
{
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 6fr 3fr;
}
/*----------------------------------------------------------------------------------*/
/*  taille bloc blanc  */

.hostingMain 
{
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
}
/*----------------------------------------------------------------------------------*/
/*  ordre image bloc  */
.hostingMainHeader 
{
  grid-column: 1/-1;
}
/*----------------------------------------------------------------------------------*/
/*  bloc blanc  */
.hostingMainCard 
{
  background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
}
/*----------------------------------------------------------------------------------*/
/*  marge entre image et bloc blanc  */
.hostingMainCardFigure 
{
  margin: 0;
}
/*----------------------------------------------------------------------------------*/
/*  taille image */
.hostingMainCardFigureImg 
{
  height: 7rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0 0;
}
/*----------------------------------------------------------------------------------*/
/*  hauteur image */
.hostingMainCardFigureCaptionTitle 
{
  margin: 0.25rem 0.75rem 0 0.75rem;
}
.hostingMainCardDesc 
{
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}
.hostingMainCardDescPrice 
{
  font-weight: bold;
}
.hostingMainCardGrade 
{
  margin: 0 0.75rem 0.25rem 0.75rem;
}
.hostingMainCardGradeIcon[data-active=true] 
{
  color: #0065FC;
}
.hostingMainCardGradeIcon[data-active=false] 
{
  color: #d9d9d9;
}
/*----------------------------------------------------------------------------------*/
/*  hauteur image bloc 2*/
.hostingMainViewmore 
{
  font-weight: bold;
}
.hostingPopular 
{
  display: grid;
  row-gap: 2rem;
  align-items: start;
  grid-template-rows: auto repeat(3, 1fr);
}
.hostingPopularTitle 
{
  margin: 0;
  display: flex;
  justify-content: space-between;
}
/*----------------------------------------------------------------------------------*/
/*  text image bloc 2*/
.hostingPopularWrapcontent 
{
  display: flex;
  align-items: stretch;
  height: 100%;
  overflow: hidden;
}
/*----------------------------------------------------------------------------------*/
/*  taille image bloc 2*/
.hostingPopularWrapcontentWrapimg 
{
  position: relative;
  min-height: 100%;
  width: 33%;
  min-width: 33%;
  max-width: 33%;
}
/*----------------------------------------------------------------------------------*/
/*  taille bloc blanc 2*/
.hostingPopularWrapcontentWrapimgImg 
{
  border-radius: 1rem 0 0 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*----------------------------------------------------------------------------------*/
/*  heuteur étoile*/
.hostingPopularWrapcontentContent 
{
  display: flex;
  flex-direction: column;
}
/*----------------------------------------------------------------------------------*/
/*  responsive bloc 2*/

@media (max-width: 1440px) 
{
  .heberg
  {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .hostingPopular 
  {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 10rem;
    column-gap: 2rem;
    grid-row-start: 1;
  }
  .hostingPopularTitle 
  {
    grid-column: 1/-1;
  }
}
@media (min-width: 925px) 
{
  .hostingMain 
  {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 925px) and (min-width: 650px) 
{
  .hostingMain 
  {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) 
{
  .hostingMain 
  {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1000px) 
{
  .hostingPopular 
  {
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(3, 9rem);
  }
}
.header
{
  display: grid;
  align-items: center;
  max-width: 1440px;
  margin: auto;
}
.bloc:hover
{
  background-color: rgb(237, 241, 248);
  cursor: pointer;
  transform: scale(1.05);
}
.hostingMainCard:hover
{
  transform: scale(1.05);
}
.hostingMainHeaderTitle
{
  margin-top: 0px;
}
/*----------------------------------------------------------------------------------*/
/* disposition activité*/
.activity 
{
  display: grid;
  column-gap: 2rem;
  margin: 4rem 0;
}
/*----------------------------------------------------------------------------------*/
/*  box image activité*/
.activityCard 
{
  box-shadow: 0 0 20px #0000002e;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition-duration: 0.1s;
}
/*----------------------------------------------------------------------------------*/
/*  position flexbox image activité*/

.activityCardWrapimg 
{
  position: relative;
  flex: 1;
}
/*----------------------------------------------------------------------------------*/
/*  positionnement image dans les blocs d'images*/
.activityCardWrapimgImg 
{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/*----------------------------------------------------------------------------------*/
/*  positionnement text dans les blocs d'images*/
.activityCardTitle {
  margin: 1.2rem 1.5rem;
}
/*----------------------------------------------------------------------------------*/
/*  Responsive bloc activité*/

@media (min-width: 1100px) 
{

  .activity 
  {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
  }
  .activityCard1 {
    grid-row: 2/7;
    grid-column: 1/2;
  }
  .activityCard2 {
    grid-column: 2/3;
    grid-row: 2/5;
  }
  .activityCard3 {
    grid-column: 3/4;
    grid-row: 2/7;
  }
  .activityCard4 {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .activityCard5 {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .activityCard6 {
    grid-column: 4/5;
    grid-row: 4/7;
  }
}
@media (max-width: 1100px) 
{
  .activity 
  {
    row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 12rem 12rem;
  }
}
@media (max-width: 925px) 
{
  .activity 
  {
    row-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 12rem 12rem 12rem;
  }
}
@media (max-width: 650px) 
{
  .activity 
  {
    row-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
  }
}
.titreslogan
{
  margin: auto;
  max-width: 1380px;
}
@media screen and (max-width: 768px)
{
  .recherchetext
  {
    opacity: 0;
  }
  .bouton
  {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 0 1.5rem;
    font-family: "Raleway", "Sans serif";
    font-size: 0.3rem;
    cursor: pointer;
  }
  .hostingMain
  {
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2rem;
    
  }
  .main
  {
    padding: 1px;
  }
  .activity
  {
    row-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
  }
}
.rechercheloupe
{
  color: transparent;
}
@media (max-width: 1100px)
{
  .rechercheloupe
  {
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 0 1.5rem;
    cursor: pointer;
    visibility: visible;
  }
}
.searchHeaderTitle {
  margin-bottom: 0.5rem;
}
.searchHeaderSubtitle {
  margin-top: 0;
}
.searchForm {
  display: inline-flex;
  max-width: 100%;
  overflow: auto;
}
.searchFormWrapicon {
  background-color: #F2F2F2;
  padding: 1rem 1.25rem;
  border-radius: 1rem 0 0 1rem;
  text-align: center;
}
.searchFormWrapiconIcon {
  margin-left: 0.1rem;
}
.searchFormSearchinput {
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 1.5rem;
  box-sizing: border-box;
  width: 14rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
}
.searchFormSearchinput::placeholder {
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  color: #00000069;
}
.searchFormSubmitinput {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.5rem;
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  cursor: pointer;
}
.searchFilters {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.searchFiltersTitle {
  margin: 0 2rem 1rem 0;
  display: flex;
  align-items: center;
}
.searchFiltersFilter {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  border: 2px solid #d9d9d9;
  border-radius: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition-duration: 0.1s;
  font-weight: bold;
}
.searchFiltersFilter:last-child {
  margin-right: 0;
}
.searchFiltersFilter:hover {
  background-color: #f3f8ff;
  transform: scale(1.015);
}
.searchFiltersFilterWrapicon {
  background-color: #DEEBFF;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}
.searchFiltersFilterWrapiconIcon {
  color: blue;
}
.searchFiltersFilterTitle {
  margin: 0 1rem;
}
.searchResult {
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem 0;
}
.searchResultWrapicon {
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.searchResultWrapiconIcon {
  color: #0065FC;
}
.searchResultText {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .searchForm {
    display: flex;
    width: 100%;
  }
  .searchFormSearchinput {
    flex: 1;
  }
  .searchFormSubmitinputText {
    display: none;
  }
  .searchFormSubmitinputIcon {
    display: block;
  }
}
@media screen and (max-width: 650px) 
{
  .searchFiltersTitle {
    width: 100%;
  }
  .searchFiltersFilter {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 601px) {
  .searchFormSubmitinputText {
    display: block;
  }
  .searchFormSubmitinputIcon {
    display: none !important;
  }
}
